{% extends "base-site.html" %}

{% block title %} Dashboard {% endblock %} 

{% block content %}

  <div class="my-3 my-md-5">

      <div class="container">

        <div class="row row-cards">
          <div class="col-sm-12 col-lg-8">
            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body d-flex flex-column">
                        <h4><a href="https://twitter.com/search?q=%23xboxseriess&src=typeahead_click"><span class="h3">#XBOXSERIESS</span> {{ nombre }} tweets</a></h4>
                        <div class="text-muted">{{ hasttags }} liste des hashtag #jemlepoulet #troplol #tartiflette #saucisse #onseclate</div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4">
                  <div class="card">
                    <div class="card-body text-center">
                      <div class="h5">Réactions positives</div>
                      <div class="display-4 font-weight-bold mb-4">328</div>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-green" style="width: 33%"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <div class="card">
                    <div class="card-body text-center">
                        <div class="h5">Réactions neutres</div>
                        <div class="display-4 font-weight-bold mb-4">542</div>
                        <div class="progress progress-sm">
                        <div class="progress-bar bg-blue" style="width: 54%"></div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <div class="card">
                    <div class="card-body text-center">
                        <div class="h5">Réactions négatives</div>
                        <div class="display-4 font-weight-bold mb-4">130</div>
                        <div class="progress progress-sm">
                        <div class="progress-bar bg-red" style="width: 13%"></div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Récapitulatif</h3>
                    </div>
                    <div class="card-body">
                        <div id="chart-pie" style="height: 15rem;"></div>
                    </div>
                    </div>
                    <script>
                    require(['c3', 'jquery'], function(c3, $) {
                        $(document).ready(function(){
                        var chart = c3.generate({
                            bindto: '#chart-pie', // id of chart wrapper
                            data: {
                            columns: [
                                // each columns data
                                ['data1', 32,8],
                                ['data2', 54,2],
                                ['data3', 13]
                            ],
                            type: 'pie', // default type of chart
                            colors: {
                                'data1': tabler.colors["green"],
                                'data2': tabler.colors["blue"],
                                'data3': tabler.colors["red"]
                            },
                            names: {
                                // name of each serie
                                'data1': 'Positif',
                                'data2': 'Neutre',
                                'data3': 'Négatif'
                            }
                            },
                            axis: {
                            },
                            legend: {
                                    show: false, //hide legend
                            },
                            padding: {
                            bottom: 0,
                            top: 0
                            },
                        });
                        });
                    });
                    </script>
                </div>
                </div>
            </div>
            

          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tous les tweets</h3>
              </div>
              <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                  <thead>
                    <tr>
                      <th class="w-1">No.</th>
                      <th>Date</th>
                      <th>Auteur</th>
                      <th>Message</th>
                      <th>Status</th>
                      <th>Hashtags associés</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-red"></span> Negatif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>
                    
                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-blue"></span> Neutre
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-red"></span> negatif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>

                    <tr>
                      <td><span class="text-muted">001401</span></td>
                      <td><a href="invoice.html" class="text-inherit">12 dec. 2019</a></td>
                      <td>
                        Carlson Limited
                      </td>
                      <td>
                        8Bonjour je suis un corps de message test et je vous aime.
                      </td>
                      <td>
                        <span class="status-icon bg-green"></span> Positif
                      </td>
                      <td>#ctropouf #diese</td>
                    </tr>
                  </tbody>
                </table>
                <script>
                  require(['datatables', 'jquery'], function(datatable, $) {
                        $('.datatable').DataTable();
                      });
                </script>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="bottombar js-bottombar" style="display: none">
      <a href="#" class="bottombar-close js-bottombar-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
      </a>
      <div class="container position-relative d-flex align-items-center">
        <a href="https://gumroad.com/l/tabler-email?utm_source=demo" class="bottombar-image">
          <picture>
            <source srcset="https://tabler.io/img/bottombar.webp" type="image/webp">
            <source srcset="https://tabler.io/img/bottombar.png" type="image/jpeg">
            <img src="https://tabler.io/img/bottombar.png" alt="">
          </picture>
        </a>
        <div class="d-lg-flex flex-fill align-items-center">
          <div class="mr-2">
            50 eye-catching templates tested in 90+ email clients. Compose your own, mobile optimized email message in less than 5 minutes!
          </div>
          <div class=" ml-auto mt-2 mt-lg-0">
            <a href="https://gumroad.com/l/tabler-email?utm_source=demo" class="btn btn-sm btn-green text-nowrap" target="_blank">More info</a>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    require(['jquery'], function () {
      $(document).ready(function () {
    
        function setCookie(name,value,days) {
          var expires = "";
          if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
          }
          document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
    
        function getCookie(name) {
          var nameEQ = name + "=";
          var ca = document.cookie.split(';');
          for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
          }
          return null;
        }
    
        if (!getCookie('bottombar-hidden')) {
          $('.js-bottombar').show();
        }
    
        $('.js-bottombar-close').on('click', function (e) {
          $('.js-bottombar').hide();
          setCookie('bottombar-hidden', 1, 7);
    
          e.preventDefault();
          return false;
        });
      });
    });
  </script>

{% endblock javascripts %}
