{% extends "base-site.html" %}
<!-- Vue  -->
<script src="/static/assets/plugins/vue/vue.js"></script>

{% block title %} Page Blank {% endblock %} 

{% block content %}

    <div class="my-3 my-md-5">
        <div class="container">


            <div class="row row-cards">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-sm-12 col-lg-8">
                    <div class="card">
                        <center><blockquote class="twitter-tweet">
                            <p lang="en" dir="ltr">John Lennon&#39;s Imagine album was released #onthisday 9 September 1971 in the USA. Find out more about Imagine (The Ultimate Collection) 
                                at <a href="https://t.co/IIHclHUXMS">https://t.co/IIHclHUXMS</a></p>
                                &mdash; John Lennon (@johnlennon) <a href="https://twitter.com/johnlennon/status/1303798455677136906?ref_src=twsrc%5Etfw">September 9, 2020</a>
                        </blockquote></center>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                    </div>
                  </div>
                  
                  <!-- vue.js-->
                  <div id="vuejs" class="col-sm-12 col-lg-4">
                    <!-- partie variable -->
                    <div class="card">
                        <div class="card-body text-center">
                            <div v-if="status==1" class="h5">Réaction positive</div>
                            <div v-else-if="status==2" class="h5">Réaction négative</div>
                            <div  v-else class="h5">Réaction neutre</div>
                            <div class="display-4 font-weight-bold mb-4">{{ accurarcy  }}%</div>
                            <div class="progress progress-sm">
                              <div v-if="status==1" class="progress-bar bg-green" :style="{ width: accurarcy + '%' }"></div>
                              <div v-else-if="status==2" class="progress-bar bg-red" :style="{ width: accurarcy + '%' }"></div>
                              <div v-else class="progress-bar bg-blue" :style="{ width: accurarcy + '%' }"></div>
                            </div>
                          </div>
                    </div>
                    <div v-if="status==1" class="card">
                      <div class="card-header bg-green">
                          <h3 class="card-title white maj">Analyse positive :)</h3>
                      </div>
                      <div class="card-body">
                          Yay ! Cette personne est heureuse de vivre et va consommer beaucoup de ce produit qui lui procure une joie intense !
                      </div>
                    </div>
              
                    <div v-else-if="status==2" class="card">
                      <div class="card-header bg-red">
                          <h3 class="card-title white maj">Analyse négative :(</h3>
                      </div>
                      <div class="card-body">
                          Oh bah zut le tweet est négatif c'est si triste....
                      </div>
                    </div>
              
                    <div v-else class="card">
                      <div class="card-header bg-blue">
                          <h3 class="card-title white maj">Analyse neutre...</h3>
                      </div>
                      <div class="card-body">
                          Cet utilisateur s'en fou, n'a aucun avis et aucune personnalité. C'est triste...
                      </div>
                    </div>
                    <!-- fin partie variable-->
                    </div>
                    <!-- fin vue.js-->

                </div>
              </div>
            </div>

        </div>
    </div>
    <script src="/static/assets/js/tweet.js"></script>

    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}


